@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s ease-in-out;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    background-color: #2c3e50;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    color: #fff;
    position: relative;
    margin-left: 20px;
    font-size: 16px;
}

.logo-image {
    vertical-align: middle;
    margin-right: 10px;
    height: 30px;
}

.navbar-title {
    vertical-align: middle;
}

.navbar-menu {
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2c3e50;
    display: none;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.dropdown-link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

.main {
    margin: 100px;
}

.main h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Dodano odstęp pod page-header */
.page-header {
    margin-bottom: 20px;
}

.navbar-link:hover {
    color: #81d4fa;
}

.footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

/* Ukryj przycisk rozwijanego menu domyślnie */
.menu-toggle {
    display: none;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        position: static;
    }

    /* Ukryj menu domyślnie, wyświetl przy rozwinięciu */
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    /* Wyświetl menu po aktywacji */
    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 10px 0;
    }

    .navbar-link {
        display: block;
        padding: 10px 0;
        margin: 0;
    }

    .dropdown-menu {
        position: static;
        display: block;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu li {
        margin: 5px 0;
    }

    /* Dodane style dla przycisku rozwijanego menu */
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        margin-left: auto;
        padding: 10px;
    }

    /* Dodajemy regułę ukrywającą napis */
    .navbar-title {
        display: none;
    }
}